@keyframes div-box {
  from   {left:0px; top:0px; transform: rotate(0deg)}
  to    {left:200px; top:0px; transform: rotate(90deg)}
}

@keyframes menu-button {
  from {width: 0px;}
  to {width: 110px;}

div::after {
  content: "";
  background-color: brown;
  width: 10px;
  height: 10px:
  position: absolute;
  top: 0;
  left: 0;
}

div:hover:after {
    width: 110px;
  }

.div1, .div2, .div3, .div4, .div5 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: tomato;
  animation: div-box 2s linear infinite;
}

.div1 {
  animation-timing-function: linear;
}

.div2 {
  animation-timing-function: ease;
}

.div3 {
  animation-timing-function: ease-in;
}

.div4 {
  animation-timing-function: ease-out;
}

.div5 {
  animation-timing-function: ease-in-out;
}
